.admin-dashboard {
    padding: 25px;
    max-width: 1200px;
    margin: auto;
}

.metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #fff;
    padding: 22px;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.card h3 {
    font-size: 32px;
    margin-bottom: 5px;
}

.yellow {
    background: #ffa400;
}

.blue {
    background: #1677ff;
}

.green {
    background: #2ecc71;
}

.red {
    background: #ff4d4f;
}

.charts {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.chart-card {
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
}

.latest-section {
    margin-top: 40px;
}

.latest-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.latest-table th,
.latest-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.status {
    padding: 4px 10px;
    border-radius: 6px;
    color: #fff;
}

.status.pending {
    background: #ff9800;
}

.status.inprogress {
    background: #2979ff;
}

.status.resolved {
    background: #43a047;
}

.status.rejected {
    background: #f44336;
}

.priority {
    padding: 4px 10px;
    border-radius: 6px;
    color: #fff;
}

.priority.low {
    background: #6c757d;
}

.priority.medium {
    background: #0d6efd;
}

.priority.high {
    background: #ff5722;
}

.priority.critical {
    background: #b80606;
}

.view-btn {
    background: #006dff;
    border: none;
    color: #fff;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.view-btn:hover {
    opacity: 0.9;
}